<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Welcome, Setup and Code of Conduct</td> </tr>
      <tr> <td>09:30</td>  <td>Running and Quitting</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:15</td>  <td>Variables and Assignment</td> </tr>
      <tr> <td>10:40</td>  <td>Data Types and Type Conversion</td> </tr>
      <tr> <td>11:00</td>  <td>Built-in Functions and Help</td> </tr>
      <tr> <td>11:30</td>  <td>Break</td> </tr>
      <tr> <td>11:45</td>  <td>Libraries</td> </tr>
      <tr> <td>12:10</td>  <td>Reading Tabular Data into DataFrames</td> </tr>
      <tr> <td>12:20</td>  <td>Wrap-up and Minute Card</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Reading Tabular Data into DataFrames (continued)</td> </tr>
      <tr> <td>13:45</td>  <td>Pandas DataFrames</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Plotting</td> </tr>
      <tr> <td>15:30</td>  <td>Break</td> </tr>
      <tr> <td>15:45</td>  <td>Lists</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up and Minute Cards</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Day 2 Welcome; Saving and Loading</td> </tr>
      <tr> <td>09:20</td>  <td>For Loops</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:15</td>  <td>Conditionals</td> </tr>
      <tr> <td>10:45</td>  <td>Looping Over Data Sets</td> </tr>
      <tr> <td>11:15</td>  <td>Break</td> </tr>
      <tr> <td>11:30</td>  <td>Writing Functions</td> </tr>
      <tr> <td>12:15</td>  <td>Morning Wrap-up and Minute Cards</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Variable Scope</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Programming Style</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Problem-Solving and Improving Your Programming</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up - Where to learn more and get help</td> </tr>
      <tr> <td>16:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-Workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
